<div class="grid-container">
    <div class="container">

        <mat-toolbar color="primary">
            <mat-toolbar-row class="tabs">
              <span (click)='createPreguntaTextComponent()'>Texto ({{texto}})</span>
              <span (click)='createPreguntaDesplegableComponent()'>Desplegable ({{desplegable}})</span>
              <span (click)='createPreguntaCasillasComponent()'>Casillas ({{casillas}})</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div #questions>

        </div>

    </div>
</div>