<div class="rowDisplay">
  <div class="input-full-width">
    <mat-form-field class="input-50-width">
      <input matInput placeholder="Titulo de la pregunta" [(ngModel)]="title">
      <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-list role="list" class="input-50-width">
      <mat-list-item role="listitem" *ngFor="let option of options; let index = index; trackBy:trackByFn">
        <mat-form-field class="input-full-width">
          <input matInput [(ngModel)]="options[index]">
        </mat-form-field>
        <div *ngIf="options.length > 1">
          <mat-icon mat-list-icon (click)="removeOption(index)">
            delete
          </mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button (click)="addOption('Opcion')">Agregar</button>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-form-field class="input-50-width">
    <mat-select placeholder="Preview">
      <mat-option *ngFor="let option of options;" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>